@import "../index.scss";

.ItemList .Window .AddItem {
  input {
    width: calc(100vw - 40px - 100px);
  }
  .attr {
    display: flex;
    margin-top: 14px;
    align-items: center;
    .label {
      width: 100px;
      font-weight: bold;
    }
    button {
      margin-left: 0px;
      margin-right: 5px;
      &.current {
        @include button-color($blue_8);
      }
    }
    .remind-btn {
      padding: 0;
      height: 30px;
      width: 30px;
    }
    .category-select {
      border: 1px solid $gray_4;
      border-radius: 6px;
      width: 146px;
      height: 32px;
      padding: 0 8px;
      margin-right: 8px;

      font-size: 14px;
      box-sizing: border-box;

      cursor: pointer;
      appearance: none;
      background: url("../../asset/select-arrow.svg") no-repeat right 8px center;
      outline: none;
      transition: all 0.1s ease-out;

      &:hover,
      &:active {
        border: 1px solid $gray_6;
      }
    }
  }
  .custom-input,
  .custom-category {
    width: 146px;
    margin-top: 5px;
    margin-left: 100px;
  }
  .btn-area {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    .submit-btn {
      @include button-color($blue_8);
    }
  }
}
