@import "../index.scss";

.ItemList {
  position: relative;
  width: 100vw;
  .content {
    padding: 0px 10px;
    button.add-btn {
      @include button-color($blue_6);
    }
    .outcome,
    .income {
      border: solid 1px $gray_6;
      margin-bottom: 5px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1.6fr 1.1fr 0.8fr;
      align-items: center;
      .attr {
        padding: 5px;
      }
      .start-date {
        font-size: 14px;
      }
      .name {
        .category {
          font-size: 14px;
          color: $yellow_8;
        }
      }
      .price {
        min-width: max-content;
      }
      .alarm {
        margin-right: 5px;
        &.active {
          @include button-color($blue_6);
        }
      }
    }
    .income {
      grid-template-columns: 1fr 1.6fr 1.9fr;
    }
    .outcomes {
      margin-bottom: 20px;
    }
    .incomes {
      margin-bottom: 20px;
    }
  }
}
