@import "./index.scss";

.App {
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  .TapBar {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    border-top: solid 1px $gray_4;
    .tab {
      width: 25vw;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 39px;
      color: #fff;
      background-color: $gray_8;
      border-right: solid 1px $gray_4;
      &.current {
        background-color: $blue_8;
      }
    }
  }
  .Window {
    position: fixed;
    height: calc(100vh - 40px);
    width: 100vw;
    z-index: 1000;
    background-color: rgba($gray_5, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    .content-box {
      background-color: #fff;
      width: calc(100vw - 40px);
      position: relative;
      padding: 25px 10px;
      .close-btn {
        position: absolute;
        right: 5px;
        top: 5px;
      }
    }
  }
}
